<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org" lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand">Uklon</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/ride-order">Ride Orders</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/user">Users</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/driver">Drivers</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Payment list</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<br>
<div class="container">
  <h2>Users <a role="button" href="/ride-order/add" class="btn btn-success">Create</a> </h2>
  <br>
  <section class="panel">
    <table class="table table-striped table-advance table-hover">
      <tbody>
      <tr>
        <th>Id</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th>Price per kilometer</th>
      </tr>
      <tr th:each="driver: ${driversList}">
        <td th:text="${driver.getId()}"></td>
        <td th:text="${driver.getFirstName()}"></td>
        <td th:text="${driver.getLastName()}"></td>
        <td th:text="${driver.getEmail()}" ></td>
        <td th:text="${driver.getPricePerKilometer()}" ></td>
        <td> <button class="btn btn-warning">Edit</button> <button class="btn btn-danger">Delete</button></td>
      </tr>
      </tbody>
    </table>
  </section>
</div>
</body>
</html>